<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Edit the Pokemon Details!</h1>
    <form action="/pokemon/<%=index%>?_method=PUT" method="POST">
      Name: <input type="text" name="name" value="<%= pokemon.name %>" /> 
      Attack: <input type="text" name="attack" value="<%= pokemon.stats.attack %>" /> 
      Defense: <input type="text" name="defense" value="<%= pokemon.stats.defense %>" /> 
      Speed:<input type="text" name="speed" value="<%= pokemon.stats.speed %>" />
      HP: <input type="text" name="hp" value="<%= pokemon.stats.hp %>" /> 
      Image <input type="text" name="" value="<%= pokemon.img %>">
      <br/>
      <input type="submit" name="" value="Submit Changes" />
    </form>


  </body>
</html>
